<div class='home'>

    <div class="home-introduction">
        <div class="introduction-container spacing">
            <h1 class="primary-title">Amazing shoes at an amazing price</h1>
            <p>Number #1 shoe reseller globally. "SNEAKERTHRIFT" is here to provide you with the best footwear there is!
            </p>
            <a routerLink="/listings" class="btn home-button">See what we have</a>
        </div>
    </div>

    <div class='showcase'>
        <img class='showcase-img' src="../../assets/showcase-1.jpg" alt='showcase' />
        <img class='showcase-img' src="../../assets/showcase-2.jpg" alt='showcase' />
        <img class='showcase-img' src="../../assets/showcase-3.jpg" alt='showcase' />
    </div>

    <ng-container *ngIf="listings.length > 0 && listings">
        <div class="listings-container">
            <h2 class="listings-title">Latest Listings</h2>
            <div class='listings'>
                <div *ngFor="let listing of listings" class="card">
                    <div class="listing-image">
                        <img src={{listing.listingImageUrl}} alt="..." />
                    </div>
                    <div class="listing-content">
                        <h3>{{listing.listingName}}</h3>
                        <p>${{listing.listingPrice}}</p>
                        <a (click)="navigateToListing(listing._id)" class="btn listing-button">View Listing</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>



    <!-- <div class="testimonials"> </div> -->

    <div class="brands">
        <div class="brands-container">
            <h2 class="brands-title">OUR TOP AFFILIATES</h2>
            <div class="row">

                <div class="col-5">
                    <a target="_blank" href="https://www.vans.com/en-us?_sr=1">
                        <img src="../../assets/logo-vans.png" alt="logo" />
                    </a>
                </div>

                <div class="col-5">
                    <a target="_blank" href="https://www.nike.com/bg/">
                        <img src="../../assets/logo-nike.png" alt="logo" />
                    </a>
                </div>


                <div class="col-5">
                    <a target="_blank" href="https://www.adidas.com/us">
                        <img src="../../assets/logo-adidas.png" alt="logo" />
                    </a>
                </div>


                <div class="col-5">
                    <a target="_blank" href="https://eu.supreme.com/pages/shop">
                        <img src="../../assets/logo-supreme.png" alt="logo" />
                    </a>
                </div>


                <div class="col-5">
                    <a target="_blank" href="https://www.reebok.com/us">
                        <img src="../../assets/logo-reebok.png" alt="logo" />
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>