<header>
    <div className='logo'>
        <h1>SNEAKER<span>THRIFT</span></h1>
    </div>

    <ul className='header-menu'>
        <a className='links' to="/">Home</a>
        <a className='links' to="/catalog">Catalog</a>
        <!-- {isAuthenticated && (
        <>
            <Link className='links' to="/my-listings">My Listings</Link>
            <Link className='links' to="/create-listing">Create Listing</Link>
            <Link className='links' to="/logout">Logout</Link>
        </>
        )} -->
        <a className='links' to="/login">Login</a>
        <a className='links' to="/register">Register</a>
    </ul>
</header>