<header>
    <div class='logo'>
        <h1>SNEAKER<span>THRIFT</span></h1>
    </div>

    <ul class='header-menu'>
        <a class='links' href="/">Home</a>
        <a class='links' href="/catalog">Catalog</a>
        <!-- {isAuthenticated && (
        <>
            <Link class='links' to="/my-listings">My Listings</Link>
            <Link class='links' to="/create-listing">Create Listing</Link>
            <Link class='links' to="/logout">Logout</Link>
        </>
        )} -->
        <a class='links' href="/auth/login">Login</a>
        <a class='links' href="/auth/register">Register</a>
    </ul>
</header>